{ "Dhcp4": {
    "interfaces-config": {
        "interfaces": [ {% for iface in kea_dhcp_listen_ifaces %}"{{iface}}"{% if not loop.last %}, {% endif %}{% endfor %} ],
        "dhcp-socket-type": "raw"
    },
    "valid-lifetime": 3600,
    "renew-timer": 1000,
    "rebind-timer": 2000,
    "subnet4": [
    {% for subnet in kea_subnets %}
       {
            "subnet": "{{subnet.subnet}}",
	    {% if subnet.interface is defined %}"interface": "{{subnet.interface}}", {% endif %}
            "pools": [
             {% for pool in subnet.pools %}
             { "pool": "{{pool|string}}" } {% if not loop.last %}, {% endif %}
             {% endfor %}
            ]{% if subnet.reservations is defined %},
	    "reservations": [
	{% for reservation in subnet.reservations %}
	     {
		"hw-address": "{{reservation.macaddress}}"
		"ip-address": "{{reservation.ipaddress}}"
	     }{% if not loop.last %},{% endif %}
        {% endfor %}
	]{% endif %}
       }{% if not loop.last %}, {%endif%}
    {% endfor %}
    ],
    "option-data": [
        {
           "name": "domain-name-servers",
           "data": "{{kea_nameservers}}"
        },
        {
           "name": "routers",
           "data": "{{kea_default_gateway}}"
        }
    ],
    "hooks-libraries": [
        {
            "library": "{{kea_path}}/lib/libkea-hook-mr-provisioner.so",
            "parameters": {
                "provisioner_url": "http://{{kea_mr_provisioner_public_addr}}:{{kea_mr_provisioner_public_port}}/dhcp",
                "timeout_ms": 5000
            }
        }
    ]
},

"Logging": {
    "loggers": [
        {
            "name": "kea-dhcp4.leases",
            "output_options": [
                {
                    "output": "{{kea_path}}/logs/kea-leases.log",
                    "maxver": 8,
                    "maxsize": 204800,
                    "flush": true
                }
            ],
            "severity": "{{kea_log_level}}",
	    "debuglevel": 99
       },{
            "name": "kea-dhcp4.packets",
            "output_options": [
                {
                    "output": "{{kea_path}}/logs/kea-packets.log",
                    "maxver": 8,
                    "maxsize": 204800,
                    "flush": true
                }
            ],
            "severity": "{{kea_log_level}}",
            "debuglevel": 99
      }]
}
}
